.container1 {
    width: 75%;
    overflow: clip;
    margin: auto;
}

.container2 {
    width: 25%;
    display: inline-block;
    display: flex;
}

.button {
    text-align: center;
    width: 100px;
    height: 30px;
    flex-direction: column;
    margin: 10px;
}