.container1 {
    width: 75%;
    overflow: clip;
    margin: auto;
}

.container2 {
    width: 25%;
    display: inline-block;
}

.buttonContainer {
    display: flex;
    width: 25%;
}

.button {
    text-align: center;
    width: 200px;
    height: 20px;
    flex-direction: column;
    margin: 10px;
}