.container1 {
    width: 75%;
    overflow: clip;
    margin: auto;
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container2 {
    width: 25%;
    flex-direction:row;
}

.containerWardrobe {
    width: 25%;
    flex-direction: row;
}

.containerWardrobe img {
    width: 100%;
    height: auto;
}

.containerWardrobe .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.buttonContainer .button {
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 10px;
}