.container1 {
    width: 75%;
    display: inline-flex;
    flex-direction:row;
    justify-content: center;
    margin: auto;
}

.containerBase {
    width: 25%;
}

.containerWardrobe {
    position: relative;
    width: 100%;
    margin-left: 20%;
}

.containerWardrobe img {
    width: 150%;
    height: auto;
}

.wardrobeButtons {
    width: 100%;
    height: 100%; 
    overflow: scroll;
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    /* transform: translate(-5%, -5%); */
    flex-wrap: wrap;
}

.containerWardrobe .button {
    background-image: url('/outfit sim/checkerTank.png');
    background-size: 130%;
    background-position: center;
    border: none;
    padding: 16px 30px;
    text-align: center;
    background-color: transparent;
    height: 90px;
    width: 80px;
    margin: 50px;
}

.buttonContainer {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer .button {
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 30px;
}