.container1 {
    width: 75%;
    display: inline-flex;
    flex-direction:row;
    justify-content: center;
    margin: auto;
}

.containerBase {
    width: 25%;
}

.containerWardrobe {
    position: relative;
    width: 100%;
    margin-left: 20%;
}

.containerWardrobe img {
    width: 150%;
    height: auto;
}

.wardrobeButtons {
    width: 75%;
    height: 60%; 
    overflow-y: scroll;
    position: absolute;
    top: 30%;
    left: 23%;
    display: flex;
    /* transform: translate(-5%, -5%); */
    flex-wrap: wrap;
    scrollbar-width: thin;
    scrollbar-color: #502f25;
}



.containerWardrobe .button {
    background-size: 120%;
    background-position: center;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    background-color: transparent;
    height: 95px;
    width: 80px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#blueTank {
    background-image: url('/outfit sim/blueTank.png');
}

#blueSweater {
    background-image: url('/outfit sim/blueSweater.png');
}

#blueTank2 {
    background-image: url('/outfit sim/blueTank2.png');
}

#brownSweater {
    background-image: url('/outfit sim/brownSweater.png');
}

#checkerTank {
    background-image: url('/outfit sim/checkerTank.png');
}

#floralTank {
    background-image: url('/outfit sim/floralTank.png');
}

#greenSweater {
    background-image: url('/outfit sim/greenSweater.png');
}

#greenTank {
    background-image: url('/outfit sim/greenTank.png');
}

#laceShirt {
    background-image: url('/outfit sim/laceShirt.png');
}

#pinkShirt {
    background-image: url('/outfit sim/pinkShirt.png');
}

#whiteSweater {
    background-image: url('/outfit sim/whiteSweater.png');
}

#xmasSweater {
    background-image: url('/outfit sim/xmasSweater.png');
}

.buttonContainer {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer .button {
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 30px;
}