.container1 {
    width: 75%;
    display: inline-flex;
    flex-direction:row;
    justify-content: center;
    margin: auto;
}

.containerBase {
    width: 25%;
}

.containerWardrobe {
    position: relative;
    width: 100%;
    margin-left: 20%;
}

.containerWardrobe img {
    width: 150%;
    height: auto;
}

.containerWardrobe .button {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-image: url('/outfit sim/blueTank.png');
    background-size: 100%;
    background-position: center;
    border: none;
    padding: 16px 30px;
    text-align: center;
    background-color: transparent;
    height: 80px;
    width: auto;
}

.buttonContainer {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer .button {
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 30px;
}