.container1 {
    width: 75%;
    overflow: clip;
    margin: auto;
}

.container2 {
    width: 25%;
    display: inline-block;
}

.button {
    text-align: center;
    padding: 15px;
    width: 75%;
    height: 15%;
}