.container1 {
    width: 75%;
    display: inline-flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
}

.containerBase {
    width: 25%;
}

.containerWardrobe {
    position: relative;
    width: 50%;
}

.containerWardrobe img {
    width: 100%;
    height: auto;
}

.containerWardrobe .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('outfit sim/blueTank.png');
    background-size: cover;
    background-position: center;
    padding: 16px 30px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.buttonContainer .button {
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 10px;
}